body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  text-align: left;
  text-transform: uppercase;
}

h2 {
  text-align: right;
  font-size: 15px;
  display: block;
  border-bottom-style: solid;
  border-color: #a93e55;
  padding: 10px;
}

label {
  text-align: left;
  margin-left: 10px;
}

form {
  margin-top: 450px;
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr;
  grid-template-areas:
    "title title title title"
    "artist artist artist artist"
    "time time time time";
}

#form-title {
  grid-area: title;
}

#form-artist {
  grid-area: artist;
}

#form-time {
  grid-area: time;
}
